@import '../styles/index.scss';

.calendar {
  &_container {
    width: 100%;
    border-radius: 5px;
    background-color: $white;
    padding: {
      top: 6px;
      bottom: 6px;
    };
  }

  &_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }

  &_panel {
    font-size: 15px;
    font-weight: 15px;
    letter-spacing: 1px;
    color: $black;
    padding: 6px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }

  &_content {
    width: 100%;
    background-color: $white;
    padding: {
      bottom: 8px;
    };
  }

  &_line {
    width: 100%;
    height: 30px;
    display: flex;
  }

  &_week-name {
    flex: 1;
    font-size: 13px;
    font-weight: 700;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}